In [1]:
import statistics
ages=[19,22,19,24,20,25,26,24,25,24]
print("Ages=",ages)
print("\n")
ages.sort()
print("Sorted list of ages=",ages)
print("\n")
minimum_age=min(ages)
print("The minimum age is:",minimum_age) 
print("\n")
maximum_age=max(ages)
print("The maximum age is:",maximum_age)
print("\n")
added_list=[maximum_age,minimum_age]
ages.extend(added_list)
print("The extended list  of ages is:",ages)
print("\n")
median_age=statistics.median(ages)
print("The median age is:",median_age)
print("\n")
average_age=statistics.mean(ages)
print("The average of ages is:",average_age)
print("\n")
age_range= maximum_age-minimum_age
print("The range of ages is:",age_range)

Ages= [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]


Sorted list of ages= [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]


The minimum age is: 19


The maximum age is: 26


The extended list  of ages is: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]


The median age is: 24.0


The average of ages is: 22.75


The range of ages is: 7

In [2]:
Dog = {}
print(Dog)
print("\n")
Dog["name"]="Snoopy"
Dog["color"]="Brown"
Dog["breed"]="Pug"
Dog["legs"]=4
Dog["age"]=5
print(Dog)
print("\n")
Student={"first_name":"Deepthi","last_name":"Bodapati","gender":"Female","age":26,"marital_status":"Single","skills": ["p1", "p2", "p3"],"country":"US","city":"OP","address":"115st"}
print(Student)
print("\n")
print(len(Student))
print("\n")
print(Student["skills"],type(Student["skills"]))
print("\n")
Student["skills"] += ["p4", "p5"]
print(Student)
print("\n")
print(list(Student.keys()))
print("\n")
print(list(Student.values()))

{}


{'name': 'Snoopy', 'color': 'Brown', 'breed': 'Pug', 'legs': 4, 'age': 5}


{'first_name': 'Deepthi', 'last_name': 'Bodapati', 'gender': 'Female', 'age': 26, 'marital_status': 'Single', 'skills': ['p1', 'p2', 'p3'], 'country': 'US', 'city': 'OP', 'address': '115st'}


9


['p1', 'p2', 'p3'] <class 'list'>


{'first_name': 'Deepthi', 'last_name': 'Bodapati', 'gender': 'Female', 'age': 26, 'marital_status': 'Single', 'skills': ['p1', 'p2', 'p3', 'p4', 'p5'], 'country': 'US', 'city': 'OP', 'address': '115st'}


['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']


['Deepthi', 'Bodapati', 'Female', 26, 'Single', ['p1', 'p2', 'p3', 'p4', 'p5'], 'US', 'OP', '115st']

In [3]:
Sisterstuple = ("Dee1", "Dee2", "Dee3")
print(Sisterstuple)
print("\n")
Brotherstuple=("Bro1","Bro2","Bro3")
print(Brotherstuple)
print("\n")
Siblings=Sisterstuple+Brotherstuple
print(Siblings)
print("\n")
print(len(Siblings))
print("\n")
Family_members=Siblings + ("Mom", "Dad",)
print(Family_members)

('Dee1', 'Dee2', 'Dee3')


('Bro1', 'Bro2', 'Bro3')


('Dee1', 'Dee2', 'Dee3', 'Bro1', 'Bro2', 'Bro3')


6


('Dee1', 'Dee2', 'Dee3', 'Bro1', 'Bro2', 'Bro3', 'Mom', 'Dad')

In [4]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(len(it_companies))
print("\n")
it_companies.add("twitter")
print(it_companies)
print("\n")
Updated_companies= {"cg", "TCS", "Wipro"}
it_companies.update(Updated_companies)
print(it_companies)
print("\n")
it_companies.remove("TCS")
print(it_companies)
print("\n")
it_companies.discard("TCS")
print(it_companies)

7


{'Facebook', 'Apple', 'twitter', 'IBM', 'Amazon', 'Microsoft', 'Oracle', 'Google'}


{'twitter', 'Oracle', 'Google', 'Wipro', 'Facebook', 'Apple', 'cg', 'IBM', 'Amazon', 'TCS', 'Microsoft'}


{'twitter', 'Oracle', 'Google', 'Wipro', 'Facebook', 'Apple', 'cg', 'IBM', 'Amazon', 'Microsoft'}


{'twitter', 'Oracle', 'Google', 'Wipro', 'Facebook', 'Apple', 'cg', 'IBM', 'Amazon', 'Microsoft'}

In [12]:
it_companies.remove("TCS")
print(it_companies)

KeyError: 'TCS'

In [13]:
X=A.union(B)
print(X)

{19, 20, 22, 24, 25, 26, 27, 28}

In [14]:
Z=A.intersection(B)
print(Z)

{19, 20, 22, 24, 25, 26}

In [15]:
z = A.issubset(B)

print(z)

True

In [16]:
D = A.isdisjoint(B)
print(D)

False

In [17]:
A=A.union(B)
print(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [18]:
B=B.union(A)
print(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [19]:
Symmetric_Diff = A.symmetric_difference(B)
print(Symmetric_Diff)

set()

In [20]:
it_companies.clear()
A.clear()
B.clear()
print(it_companies)
print(A)
print(B)

set()
set()
set()

In [21]:
setOfages=set(age)
print(setOfages)

{19, 22, 24, 25, 26}

In [22]:
print(len(age))
print(len(setOfages))

8
5

In [10]:
import math
radius=30
_area_of_circle_=math.pi*radius*radius    
print("Area of a circle = %.2f" %_area_of_circle_)
print("\n")
_circum_of_circle_=2*math.pi*radius
print("Circumference of a circle = %.2f" %_circum_of_circle_)
print("\n")
r = float(input("Enter the radius of a circle is "))
print("\n")
area = math.pi * r * r
print("Area of a circle = %.2f" %area)

Area of a circle = 2827.43


Circumference of a circle = 188.50


Enter the radius of a circle is 34


Area of a circle = 3631.68

In [9]:

Uniquestring="I am a teacher and I love to inspire and teach people"
print(set(Uniquestring.split(' ')))

{'am', 'and', 'teach', 'to', 'people', 'I', 'love', 'teacher', 'inspire', 'a'}

In [8]:
print("Name\tAge\tCountry\tCity")
print("\n")
print("Asabeneh\t50\tFinland\tHelsinki")

Name	Age	Country	City


Asabeneh	50	Finland	Helsinki

In [7]:

radius = 10 
pi = 3.14 
area = pi * radius ** 2 
formated_string = 'The area of circle with a radius %d is %.2f.' %(radius, area) # 2 refers the 2 significant digits after the point

print(formated_string) # "The following are python libraries:['Django', 'Flask', 'NumPy', 'Matplotlib','Pandas']"

The area of circle with a radius 10 is 314.00.

In [6]:
KG_list=[]
LB_list = []
# Input the user input
N = int(input("Enter number of elements in the list : "))
print("\n")
# Enter elements separated by comma
LB_list = list(map(int,input("Enter the input in pounds : ").strip().split(',')))[:N]
print("\n")
print("The entered list is:",LB_list)
print("\n")

# convert each item to int type
for i in range(len(LB_list)):
    # convert each item to kg by pound value
    item= LB_list[i] * 0.453592
    KG_list.append(round(item,2))
print("KG list is: ", KG_list)

Enter number of elements in the list : 3


Enter the input in pounds : 23,45,67


The entered list is: [23, 45, 67]


KG list is:  [10.43, 20.41, 30.39]