In [14]:
#Statistics is a python's built-in module that you can use to calculate mathematical statistics of numeric data like mean and median etc...
import statistics
ages=[19,22,19,24,20,25,26,24,25,24]
print("Ages=",ages)
print("\n") #returns a new line 
ages.sort()#returns sorted values of a list
print("Sorted list of ages=",ages)
print("\n")
minimum_age=min(ages)#returns minimum value in a list
print("The minimum age is:",minimum_age) 
print("\n")
maximum_age=max(ages)#returns maximum value in a list
print("The maximum age is:",maximum_age)
print("\n")
added_list=[maximum_age,minimum_age]
ages.extend(added_list)#add or extend the new items to the end of  a list 
print("The extended list  of ages is:",ages)
print("\n")
median_age=statistics.median(ages)# returns the middle value in a list
print("The median age is:",median_age)
print("\n")
average_age=statistics.mean(ages)#returns the average of numbers in a list
print("The average of ages is:",average_age)
print("\n")
age_range= maximum_age-minimum_age
print("The range of ages is:",age_range)

Ages= [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]


Sorted list of ages= [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]


The minimum age is: 19


The maximum age is: 26


The extended list  of ages is: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26, 19]


The median age is: 24.0


The average of ages is: 22.75


The range of ages is: 7

In [29]:
Dog = {}#created empty dictionary
print(Dog)
print("\n")
Dog["name"]="Snoopy"#adding key value pairs to empty dictionary
Dog["color"]="Brown"
Dog["breed"]="Pug"
Dog["legs"]=4
Dog["age"]=5
print(Dog)
print("\n")
Student={"first_name":"Deepthi","last_name":"Bodapati","gender":"Female","age":26,"marital_status":"Single","skills": ["p1", "p2", "p3"],"country":"US","city":"OP","address":"115st"} #created student dictionary
print(Student)
print("\n")
print(len(Student))#returns the number of items in a dictionary
print("\n")
print(Student["skills"],type(Student["skills"]))#returns skills value in a student dictionary and its data type
print("\n")
Student["skills"] += ["p4", "p5"]# updating or adding  items in a skills list of student dictionary
print(Student)
print("\n")
print(list(Student.keys()))# returns keys as a liust with list function
print("\n")
print(list(Student.values()))# returns values as a list

{}


{'name': 'Snoopy', 'color': 'Brown', 'breed': 'Pug', 'legs': 4, 'age': 5}


{'first_name': 'Deepthi', 'last_name': 'Bodapati', 'gender': 'Female', 'age': 26, 'marital_status': 'Single', 'skills': ['p1', 'p2', 'p3'], 'country': 'US', 'city': 'OP', 'address': '115st'}


9


['p1', 'p2', 'p3'] <class 'list'>


{'first_name': 'Deepthi', 'last_name': 'Bodapati', 'gender': 'Female', 'age': 26, 'marital_status': 'Single', 'skills': ['p1', 'p2', 'p3', 'p4', 'p5'], 'country': 'US', 'city': 'OP', 'address': '115st'}


['first_name', 'last_name', 'gender', 'age', 'marital_status', 'skills', 'country', 'city', 'address']


['Deepthi', 'Bodapati', 'Female', 26, 'Single', ['p1', 'p2', 'p3', 'p4', 'p5'], 'US', 'OP', '115st']

In [16]:

Sisterstuple = ("Dee1", "Dee2", "Dee3")#create a tuple separated by commas
print(Sisterstuple)
print("\n")
Brotherstuple=("Bro1","Bro2","Bro3")
print(Brotherstuple)
print("\n")
Siblings=Sisterstuple+Brotherstuple # join or combining two tuples with "+" sign
print(Siblings)
print("\n")
print(len(Siblings))# returns the number of items in a tuple
print("\n")
Family_members=Siblings + ("Mom", "Dad",)# adding items to a tuple 
print(Family_members)

('Dee1', 'Dee2', 'Dee3')


('Bro1', 'Bro2', 'Bro3')


('Dee1', 'Dee2', 'Dee3', 'Bro1', 'Bro2', 'Bro3')


6


('Dee1', 'Dee2', 'Dee3', 'Bro1', 'Bro2', 'Bro3', 'Mom', 'Dad')

In [17]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]
print(len(it_companies)) # returns number of items in a set 
print("\n")
it_companies.add("twitter")# adding a item in a set
print(it_companies)
print("\n")
Updated_companies= {"cg", "TCS", "Wipro"}
it_companies.update(Updated_companies) # adding or updating multiple values at once to a set
print(it_companies)
print("\n")
it_companies.remove("TCS") # remove an item from a set
print(it_companies)
print("\n")
it_companies.discard("TCS") # remove an item from a set 
print(it_companies)

7


{'Apple', 'Facebook', 'IBM', 'twitter', 'Oracle', 'Amazon', 'Microsoft', 'Google'}


{'Apple', 'Facebook', 'IBM', 'cg', 'Wipro', 'twitter', 'Microsoft', 'Oracle', 'TCS', 'Amazon', 'Google'}


{'Apple', 'Facebook', 'IBM', 'cg', 'Wipro', 'twitter', 'Microsoft', 'Oracle', 'Amazon', 'Google'}


{'Apple', 'Facebook', 'IBM', 'cg', 'Wipro', 'twitter', 'Microsoft', 'Oracle', 'Amazon', 'Google'}

In [18]:
# testing to error if removing an non existing item and its returned arror which is difference between remove and discard
it_companies.remove("TCS")
print(it_companies)

KeyError: 'TCS'

In [30]:
X=A.union(B)#returns all the value in set A and set B
print(X)

{19, 20, 22, 24, 25, 26, 27, 28}

In [31]:
Z=A.intersection(B)#returns common values in set A and B
print(Z)

{19, 20, 22, 24, 25, 26}

In [32]:
z = A.issubset(B)# check  if all the values in A are present in B , returns bool value 

print(z)

True

In [33]:
D = A.isdisjoint(B) # check if all the values in A and B are different , returns bool value
print(D)

False

In [34]:
A=A.union(B)
print(A)

{19, 20, 22, 24, 25, 26, 27, 28}

In [35]:
B=B.union(A)
print(B)

{19, 20, 22, 24, 25, 26, 27, 28}

In [36]:
Symmetric_Diff = A.symmetric_difference(B) # check difference between set A and B, if both are same returns empty set 
print(Symmetric_Diff)

set()

In [37]:
# Delete the sets 
it_companies.clear()
A.clear()
B.clear()
print(it_companies)
print(A)
print(B)

set()
set()
set()

In [24]:
# converting list into a set with set function
setOfages=set(age)
print(setOfages)

{19, 22, 24, 25, 26}

In [25]:
print(len(age))
print(len(setOfages))

8
5

In [38]:
import math# Math module provides various the value of various constantslike pi
radius=30
_area_of_circle_=math.pi*radius*radius    
print("Area of a circle = %.2f" %_area_of_circle_)# f represents the return value with float data type
print("\n")
_circum_of_circle_=2*math.pi*radius
print("Circumference of a circle = %.2f" %_circum_of_circle_)# f represents the return value with float data type
print("\n")
r = float(input("Enter the radius of a circle is "))# input function used to give the user input to the system
print("\n")
area = math.pi * r * r
print("Area of a circle = %.2f" %area)# f represents the return value with float data type

Area of a circle = 2827.43


Circumference of a circle = 188.50


Enter the radius of a circle is 20


Area of a circle = 1256.64

In [22]:

Uniquestring="I am a teacher and I love to inspire and teach people"
# split fucntion used to break the given main string i.e.Uniquestring here  into small strings with  given specifier and default is space and set function returns the distinct values in the form of set datatype  
print(set(Uniquestring.split(' ')))

{'love', 'and', 'am', 'people', 'teach', 'to', 'I', 'teacher', 'a', 'inspire'}

In [21]:
print("Name\tAge\tCountry\tCity")#\tThis represents a tab 
print("\n")
print("Asabeneh\t50\tFinland\tHelsinki")

Name	Age	Country	City


Asabeneh	50	Finland	Helsinki

In [20]:
import math# Math module provides various the value of various constantslike pi
radius = 10 
area = math.pi * radius ** 2 #double star represents the power 
formated_string = 'The area of circle with a radius %d is %d meter square.' %(radius, area) # d represents retrun value with  integer data type 2 refers the 2 significant digits after the point

print(formated_string)

The area of circle with a radius 10 is 314 meter square.

In [ ]:
KG_list=[]# create an empty list 
LB_list = []
# Input the user input
N = int(input("Enter number of elements in the list : "))
print("\n")
# Enter elements separated by comma 
LB_list = list(map(int,input("Enter the input in pounds : ").strip().split(',')))[:N]# returns entered input into a list splitting with comma specifier
print("\n")
print("The entered pound list is:",LB_list)
print("\n")

# convert each item to int type
for i in range(len(LB_list)):# iterate  through the list with the given range 
    # convert each item to kg by pound value
    item= LB_list[i] * 0.453592
    KG_list.append(round(item,2))# add converted item to a new list 
print("KG list is: ", KG_list)

In [5]:
from sklearn.neighbors import KNeighborsClassifier #importing kneighborclassifier to find the nearest neighbors from the datapoint
import numpy as NPY #to support large multidimensional arrays

nearestneighbors = KNeighborsClassifier(n_neighbors=3)
A = [[1], [2], [3], [6], [6], [7], [10], [11]] # multi dimensional array for given data set
B = [1, 1, 2, 2, 2, 1, 1, 1]

A_train, A_test = NPY.array_split(A, 2) # split the array into two halves
B_train, B_test = NPY.array_split(B, 2)
nearestneighbors.fit(A_train, B_train)

print("Predicted values: "+str(nearestneighbors.predict(A_test))) # to calculate test values 
print("Actual values" + str(B_test))

Predicted values: [2 2 2 2]
Actual values[2 1 1 1]